<!--
    HTML base
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}AutoGuardEC - Dashboard{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Sidebar, lateral menu -->
    <aside class="sidebar">
        <div class="sidebar-header">
            <h3><i class="fas fa-shield-alt"></i> AutoGuardEC</h3>
        </div>
        <ul class="sidebar-menu">
            <li><a href="/" class="{% if request.endpoint == 'index' %}active{% endif %}"><i class="fas fa-home"></i> Dashboard</a></li>
            <li><a href="/customers" class="{% if request.endpoint == 'customers' %}active{% endif %}"><i class="fas fa-users"></i> Customers</a></li>
            <li><a href="/vehicles" class="{% if request.endpoint == 'vehicles' %}active{% endif %}"><i class="fas fa-car"></i> Vehicles</a></li>
            <li><a href="/policies" class="{% if request.endpoint == 'policies' %}active{% endif %}"><i class="fas fa-file-contract"></i> Policies</a></li>
            <li><a href="/agents" class="{% if request.endpoint == 'agents' %}active{% endif %}"><i class="fa-solid fa-people-line"></i> Agents</a></li>
            <li><a href="/coverages" class="{% if request.endpoint == 'agents' %}active{% endif %}"><i class="fa-solid fa-book"></i></i> Coverages</a></li>
            <li><a href="/premium_payments" class="{% if request.endpoint == 'agents' %}active{% endif %}"><i class="fa-solid fa-money-check-dollar"></i></i> Premium Payments</a></li>
            <li><a href="/claims" class="{% if request.endpoint == 'agents' %}active{% endif %}"><i class="fa-solid fa-exclamation"></i></i> Claims</a></li>
            <li><a href="/claim_payment" class="{% if request.endpoint == 'agents' %}active{% endif %}"><i class="fa-solid fa-money-bill-wave"></i></i> Claim Payment</a></li>
            <li><a href="/policy_coverages" class="{% if request.endpoint == 'agents' %}active{% endif %}"><i class="fa-solid fa-building-shield"></i></i> Policy Coverages</a></li>
            <!-- Waiting Implementation -->
            <li><a href="#"><i class="fas fa-chart-line"></i> Analytics</a></li>
            <!--<li><a href="#"><i class="fas fa-bell"></i> Notifications</a></li> -->
            <li><a href="#"><i class="fas fa-cog"></i> Settings</a></li>
        </ul>
        <!-- Repository GitHub link -->
        <li class="github">
          <a href="https://github.com/BrDenky/AutoGuardEC" target="_blank">
            <i class="fa-brands fa-github"></i> GitHub Repository
          </a>
        </li>
    </aside>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Top Header -->
        <header class="top-header">
            <div class="search-bar">
                <input type="text" placeholder="What can I do for you?">
            </div>
            <!--<div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="darkModeToggle">
            </div> -->
            <div class="user-info">
                <i class="fas fa-bell" style="font-size: 20px; color: #7f8c8d; cursor: pointer;"></i>
                <div style="cursor: pointer;" class="user-avatar">AU</div> 
            <!--    <span style="color: #2c3e50; font-weight: 500;">Admin User</span> -->
            </div>
        </header>

        <!-- Dashboard - Dinamic Content -->
        <main class="dashboard-content">
            {% block content %}
            <!-- The content of each page will go here -->
            {% endblock %}
        </main>
    </div>
    {% block modals %}
        <!-- Aquí insertas el Customer Quick View Modal -->
        {% include 'customer_quickview_modal.html' %}
    {% endblock %}
<script src="{{ url_for('static', filename='js/customer_quickview.js') }}"></script>

</body>
</html>